@model WebStore.Models.Employee


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
</head>
<body>

<h3>Сотрудник №@Model.Id</h3>
<p>@Model.FirstName</p>

</body>
</html>